*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html,body{
	margin:0;
	padding: 0;
	margin:auto;
}
body{
	background-color:#F6F1E4;
}

html{
	width: 100vw;
}

.wrapper{
	width: 80%;
	margin:auto;

	position: relative;
}

.font1{font-family: 'Italiana', serif;color: #2d2d2d;}
.font2{font-family: 'Open Sans', sans-serif;color: #2d2d2d;}

/*-----------------------------------------------*/



/*-------header - menu-----*/

header{
	margin: auto;
	width: 100%;
	height: 700px;
	font-size:20px;
}

.general-menu{
	display:flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding-bottom:20px; 

	width: 760px;
	margin: auto;
}

	a {
		position: relative;
		color:#2d2d2d;
		cursor: pointer;

		text-decoration: none;

	}
	a:after {
		display: block;
		position: absolute;
		left: 0; 
		width: 0;
		height: 0.7px;
		background-color: #2d2d2d; 
		content: "";
		transition: width 0.3s ease-out; 
	}

	a:hover:after,
	a:focus:after {
		width: 100%; 
	}

	nav{
		margin:auto;
		width: 100%;
	}

.general_menu li{
	margin: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 22px;
}


/*---------------header- main-------------------*/
.main{
	width: 100%;
	margin:auto;
}
.general-info{
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-img{
	padding: 10px;
}
	.main-img:hover img{
		transform: scale(0.9);
		transition:all 0.5s linear;
	}
.main-title{
	padding: 40px 50px;
}
	.title-name{
		font-size: 48px;
		margin: 5px;
	}

	.title-specialization{
		font-size: 24px;
		margin: 5px;
	}

.circles{
	position: absolute;
	top: 200px;
	left:0px;
	z-index: -1;
	transform: rotate(-5deg);
}

/*----------------header- footer-------------------*/
.footer{
	width: 100%;
	margin:auto;
	
}
.contacts{
	padding:70px 20px 40px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.title{
		font-size: 24px;
		z-index: 2;
	}
	.subtitle{
		font-size: 20px;
		z-index: 2;
	}
		.colors{
			padding: 20px;
		}
	.bg-location{
		position: absolute;
		top: 1300px;
		left: -120px;
		z-index: -2;
	}

	.bg-phone{
		position: absolute;
		top: 2270px;
		left:550px;
		z-index: -2;
	}

	.bg-email{
		position: absolute;
		top: 120px;
		left: 700px;
		z-index: -2;
	}